// Mixins

// Mixin for centering element
// with margin-left: auto
// and margin-right: auto;
@mixin center($margin-center: true, $zero-margin: true){
    @if($margin-center){
        @if($zero-margin){
            margin: 0 auto;
        }@else {
            margin: {
                left: auto;
                right: auto;
            }
        }
    }@else {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @if($zero-margin){
            margin: 0;
        }
    }
}

@mixin flatten($list: false) {
    margin: 0;
    padding: 0;
    line-height: 1;
    @if($list){
        list-style: none;
    }
}


// Media Query Mixin
@mixin mq($w) {
    @media (max-width: $w) {
        @content;
    }
}

// List View Mixin
@mixin listView($list: false){
    @if($list){
        display: block;
    }@else{
        display: none;
    }
}

// Clear margins
@mixin first-last-el-no-margin {
    > :first-child {
        margin-top: 0;
    }
    > :last-child {
        margin-bottom: 0;
    }
}

// Layout Mixins
// Mixins for creating a flex row of
// and evenly spacing out the
// elements along the row
@mixin flex-layout-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

// Center elements in a flex
// container
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
