#staff-table-container {
    display: flex;
    justify-content: center;
}

#staff-table-header {
    text-align: center;
}

tr {
    justify-content: center;
    align-items: center;
    text-align: center;
}

#table-images {
    justify-content: center;
    align-items: center;
    width: 10%;
    height: auto;
}

.table-instructors {
    thead {
        th {
            text-align: center;
        }
    }
    tbody {
        td {
            position: relative;
            span {
                display: flex;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}