#staff-table-container {
    display: flex; justify-content: center;
    
}

#staff-table-header {
    text-align: center;
}

.center {
    display: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
} 