#staff-table-container {
    display: flex; justify-content: center;
    
}

#staff-table-header {
    text-align: center;
}

tr {
    justify-content: center;
    align-items: center;
    text-align: center;
} 