body {
    font-family: 'Open Sans', sans-serif;
}

h1{
    padding-top: 10px;
    font-weight: bolder;
    margin-bottom: 40px;
}

h2{
    font-family: 'Francois One', sans-serif;
    font-weight: lighter;
}

.italic{
    font-style: italic;
}