@import 'variables';



@mixin center($mc: true, $zero-mr: true) {
    @if($mc){

        @if($zero-mr){
            margin: 0 auto;
        }@else{
            margin: {
                left: auto;
                right: auto;
            }
        }

    }@else{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @if($zero-mr){
            margin: 0;
        }
    }
}

@mixin listView($list: false){
    @if($list){
        display: block;
    }@else{
        display: none;
    }
}

// Media Query Mixin
@mixin mq($w) {
    @media (max-width: $w) {
        @content;
    }
}

.button-toggler {
    display: flex;
    margin-left: 15px;
    button{
        background-color:  $calendar-panel-color; 
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 10px;
        outline: none;
    }
}