@import 'variables';
@import 'mixins';
@import 'functions';
@import 'resets';

.button-toggler {
    display: flex;
    margin-left: 15px;
    button{
        background-color:  $calendar-panel-color; 
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 10px;
        outline: none;
    }
}

// Welcome Section styles
.welcome {
    // @include first-last-el-no-margin;
    // .some-row {
    //     @include flex-layout-row;
    //     .a-01,
    //     .a-02 {
    //         @extend %row-item;
    //     }
    // }
}